<?php
/**
 * Created by PhpStorm.
 * User: priyanka
 * Date: 7/16/14
 * Time: 10:25 AM
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Message from {shop_name}</title>
</head>
<body>
<table style="font-family: Verdana,sans-serif; font-size: 11px; color: #374953; width: 550px;">
    <tbody>
    <tr>
        <td align="left">Hello<strong style="color: {color};">&nbsp;{{$from_name}}</strong>,</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>{{$product_message}}</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>To know more about this product please follow this link &nbsp;</td>
    </tr>

    <tr>
        <td>{{$product_link}}&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Thanks</td>
    </tr>
    <tr>
        <td>Glen Appliances Pvt. Ltd.<br>
            <a style="color: #17479d; font-weight: bold; text-decoration: none;" href="www.glenindia.com">www.glenindia.com</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>