.newofferTag {
    z-index: 1;
}

.p-item:hover {
    cursor: pointer !important;
}

.ajax_loader_div {
    width: 200px;
    border: 3px solid rgb(146, 145, 145);
    padding: 5px;
    left: 42%;
    top: 47%;
    position: absolute;
    text-align: center;
    background-color: #eee;
}

.custom_h1 {
    margin: 15px 0;
}

.error {
    color: #b94a48;
    font-weight: normal !important;
    font-size: 13px !important;
}

label.error{
    margin:6px;
}

.transparent_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: 10px 10px no-repeat rgba(0, 0, 0, 0.8);
}

.hidden {
    display: none !important;
}

.compare_img {
    width: 43px;
    height: 43px;
}

.disabled, .disabled:hover {
    background: #ccc;
    border-color: #bbb;
    color: #f9f9f9;
}

.margin_left_20 {
    margin-left: 20px;
}

#compare_notification_div {
    text-align: center;
    width: 500px;
    margin-left: 42px;
    top: 60px;
    position: relative;
}

#notification_message {
    font-size: 15px;
    display: block;
}

.ui-slider-handle {
    padding: 0px !important;
}

.ui-slider-range > a:nth-child(2) {
    left: 91.957465% !important;
}

.price_li {
    width: 200px !important;
}

.reset_link {
    float: right;
    font-size: 11px;
    text-decoration: underline;
}

input:disabled {
    cursor: default;
}

.right {
    float: right;
}

.ajax_add_to_cart_button {
    padding-right: 10px !important;
}

.more_info_tab {
    padding-left: 6px !important;
    padding-right: 11px !important;
}

.p-item .product-container {
    border-top: 1px solid #e4e4e4 !important;
}

/*hack to display on 5 features in product info quick overview screen*/
.product-features ul li:nth-of-type(1n+6) {
    display: none;
}

.dark_button {
    background-color: #17479d !important;
    padding: 0px 10px;
    border: none;
    font-size: 13px;
    color: #fff;
    line-height: 27px;
}

.dark_button:hover {
    background-color: #d21f45 !important;
    transition: background 0.3s ease-in 0s;
}

button.disabled, button.disabled:hover {
    background-color: #EEEEEE !important;
    color: black;
    cursor: default;

}
input[type=submit].disabled, input[type=submit].disabled:hover {
    background-color: #EEEEEE !important;
    color: black;
    cursor: default;

}

.scroll-products {
    height: 300px;
    overflow: auto;
}

.cart-badge {
    position: absolute;
    top: 14px;
    right: -22px;
}

.badge {
    padding-left: 6px !important;
    padding-right: 6px !important;
    border-radius: 7px !important;
}

#scrollUp {
    bottom: -30px;
    right: 30px;
    width: 70px;
    height: 70px;
    padding: 10px 5px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    color: #828282;
    -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(top, #ebebeb, #dedede);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#dedede));
    background-image: -webkit-linear-gradient(top, #ebebeb, #dedede);
    background-image: -o-linear-gradient(top, #ebebeb, #dedede);
    background-image: linear-gradient(to bottom, #ebebeb, #dedede);
    background-repeat: repeat-x;
    -webkit-transition: bottom 150ms linear;
    -moz-transition: bottom 150ms linear;
    transition: bottom 150ms linear;
}

/*disabled input cursor*/
input[disabled], input[readonly] {
    cursor: default;
}

.base_color {
    color: #17479d;
}
.center_color {
    color: #d21f45;
}

#gray_strip {

    background: #e7e8ea !important;
    height: 5px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.justify {
    text-align: justify;
}
.shipping_address_box > ul > li{
    text-align: left;
    line-height: 17px;
}
.left-categorys-container{
    max-height: 300px;
    overflow-y: auto;
}