.error {
    display: inline;
    margin: 5px 0;
    color: #B94A48;
    font-weight: 400;
}

input.error, .cmxform .form-group textarea.error {
    border-color: #B94A48 !important;
}

.green {
    color: #3c763d;
}

.red {
    color: #B94A48;
}

.company_link {
    color: white;
    text-decoration: underline;
}

.company_link:hover {
    color: white;
    text-decoration: underline;
}

/*admin dropdown*/
.dropdown-toggle {
    padding: 10px !important;
}

.brand {
    background: white;
}

/*product tab image*/
.tab_image{
    height: 50px;
    width: 50px;
}

.information_use {
    padding-left: 40px;
    padding-right: 10px;
    line-height: 20px;
}

.information_use li {
    list-style: disc !important;
    padding-bottom: 5px;
}

.information_use img{
  margin: 10px;
  border: 1px solid #EFEFEF;
}

.information_use ul li {margin-left:32px;}
.information_use ul li {list-style: disc !important;}

.information_use i{line-height:20px;}
p .btn{line-height:20px;}