@media (max-width: 1024px) {
    .wrapper {margin-top: 100px;}
    .button_div{margin:1% 33%}
}
@media (min-width: 768px) and (max-width: 979px) {
    .button_div{margin:1% 33%}
    .categories{
        margin-top:10px;
    }
    .categories .col-lg-2 {margin:10px 0 10px 0;}
    @-moz-document url-prefix() {
        fieldset { display: table-cell; }
    }
    .wrapper {margin-top: 183px;}
}
@media (min-width: 480px) and (max-width: 767px) {
    body{
        margin-top: 80px ! important;
    }
        /*.header{*/
        /*position: relative! important;*/
    /*}*/
        .merge-header{
            margin-right: 0px !important;
        }
    .brand{
        width: 100%;
        float: none;
        position: fixed;
        top: 0px;
        z-index: 1005;
    }
    .sidebar-toggle-box{
        right: 10px;
    }
    .top-nav{
        margin-bottom: 20px;
    }
    .top-menu{
        margin-right: 10px;
    }
    .wrapper{
        margin-top: 25px;
    }
    ul.sidebar-menu {
        margin-top: 0px;
    }
    #sidebar{
        position: fixed !important;
        z-index: 1002;
        top: 80px;
    }
    #main-content{
        margin-left: 0px;
    }
    .top-nav{margin-top:0;}
    /*.wrapper .row{margin-top: 13px;}*/
    .wrapper .row .edit,.wrapper .row .add{margin-top: 25px;}
}

@media (max-width: 479px) {
    body{
        margin-top:80px !important;
    }
    .header{
        /*position: relative !important;*/

    }
    .merge-header{
        margin-right: 0px !important;
    }
    .brand{
        width: 100%;
        float: none;
        position: fixed;
        top: 0px;
        z-index: 1005;
    }
    .sidebar-toggle-box{
        right: 10px;
    }
    .top-nav{
        margin-bottom: 20px;margin-top:0;
    }
    .top-menu{
        margin-right: 10px;
    }
    .wrapper{
        margin-top: 0px;
    }
    ul.sidebar-menu {
        margin-top: 0px;
    }
    #sidebar{
        position: fixed !important;
        z-index: 1002;
        top: 80px;
    }
    #main-content{
        margin-left: 0px;
    }
    .notify-row{
        float: none;
    }
    .wrapper .row{margin-top: 25px;}
    .wrapper .row .edit,.wrapper .row .add{margin-top: 25px;}
}
