body{
	margin:0px auto;
	font-family: 'Open Sans', sans-serif;
	color:#333;
}
.header{
	background-color:#e9e9e9;
	padding:12px 6px;
	margin-bottom:8px;
}

.contact-no{
	font-size:21px;
	color:#333;
	float:right;
	display:inline-block;
	padding-top:22px;
}
h4 {
font-size: 18px;
margin-bottom: 5px;
margin-top: 5px;
}
.button1 {
/* background: url(images/button-green1.png) no-repeat; */
background-color: #db263f;
color: #ffffff;
display: block;
font-size: 18px;
height: 36px;
line-height: 36px;
text-align: center;
text-decoration: none;
border: none;
margin-bottom: 6px;
margin-top: 10px;
cursor: pointer;
width: 150px;
}
input[type=text], textarea, input[type=password], select
{
    background-color: #fff;
	border:1px solid #ccc;
     color: #000;
    font-family: "open sans", sans-serif;;
    font-size: 12px;
    padding: 5px 5px;
    width: 190px;
    padding-right: 0px;
}